$background-color: #666;
$hover-border-color: #fff;

@mixin imageAndHover($max-dimension) {
    $border-width: 2px;
    $on-hover-animation-time: 0.15s;
    $off-hover-animation-time: 0.50s;

    max-width: $max-dimension;
    max-height: $max-dimension;
    border: $border-width solid $background-color;
    transition: all $on-hover-animation-time ease-in-out;
    margin-bottom: 20px;

    &:hover {
        border: $border-width solid $hover-border-color;
        transition: all $off-hover-animation-time ease-in-out;
    }
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

body {
    background-color: $background-color;
    padding: 0 20px;
}

.debug {
    background-color: darkred;
    color: yellow;
    display: none;
}

a {
    text-decoration: none;
}

/* Reset default ul padding */
ul {
    padding-left: 0
}

#search {
    display: inline-block;
    float: right;
}

.searchField {
    width: 200px;
    border: none;
    height: 20px;
    padding-left: 10px;

    &:focus {
        outline: none;
    }
}

.searchLabel {
    visibility: hidden;
}

.backContainer {
    display: inline-block;
    color: #333;
    float: left;
}

.browsePage {
    .backContainer {
        display: none;
    }
    .artifact {
        margin-right: 20px;
        list-style-type: none;
        display: inline;

        .image {
            @include imageAndHover(250px);
        }
    }
}

.detailPage {
    text-align: center;
    max-width: 720px;
    margin: auto;

    .artifactName {
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        text-align: left
    }

    .description {
        text-align: left;
    }

    .heroImage {
        margin-top: 20px;
    }

    .artifact {
        margin-right: 20px;
        list-style-type: none;
        display: inline;

        .image {
            @include imageAndHover(100px);
        }
    }

    .relatedItemTitle {
        text-align: left;
    }
}

@media (max-width: 900px) {
    background-color: blue;
    h1 {
        font-size: 70px;
    }
}