{% extends "browseByImage/base.html" %}

{% block title %}
Hearst Explorer - {{ artifact.name }}
{% endblock %}

{% block content-class %}detailPage{% endblock %}

{% block content %}
<div class="detailPage">
    <img class="heroImage" src="https://dev.cspace.berkeley.edu/pahma_project/imageserver/blobs/{{ artifact.image_blob_id }}/derivatives/Medium/content">
    <div class="artifactName">{{ artifact.name }}</div>
    <div class="description">{{ artifact.description }}</div>
</div>

<div class="relatedItems">
<ul>

{% for artifact in related_artifacts %}
    <a href="{%url 'detail' artifact.artifact_id %}">
        <li class="artifact" data-id="{{ artifact.artifact_id }}">
            <img
                class="hero-image"
                data-name="{{ artifact.name }}"
                data-description="{{ artifact.description }}"
                src="https://dev.cspace.berkeley.edu/pahma_project/imageserver/blobs/{{ artifact.image_blob_id }}/derivatives/Thumbnail/content">
        </li>
    </a>

{% endfor %}
</ul>
</div>

{% endblock %}

{% block debug %}
<div class="debug">Model JSON: {{ artifact }}</div>
{% endblock %}