{% extends "browseByImage/base.html" %}

{% block title %}
Hearst Explorer - {{ artifact.name }}
{% endblock %}

{% block content-class %}detailPage{% endblock %}

{% block content %}
<div class="detail-page">
    <img class="hero-image" src="https://dev.cspace.berkeley.edu/pahma_project/imageserver/blobs/{{ artifact.image_blob_id }}/derivatives/Medium/content">
    <div class="artifact-name">{{ artifact.name }}</div>
    <div class="description">{{ artifact.description }}</div>
</div>
{% endblock %}

{% block debug %}
<div class="debug">Model JSON: {{ artifact }}</div>
{% endblock %}